@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 179 100% 95%;
  --foreground: 179 5% 10%;
  --card: 179 50% 90%;
  --card-foreground: 179 5% 15%;
  --popover: 179 100% 95%;
  --popover-foreground: 179 100% 10%;
  --primary: 179 45% 27%;
  --primary-foreground: 0 0% 100%;
  --secondary: 179 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 141 30% 85%;
  --muted-foreground: 179 5% 35%;
  --accent: 141 30% 80%;
  --accent-foreground: 179 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 179 5% 90%;
  --border: 179 30% 50%;
  --input: 179 30% 26%;
  --ring: 179 45% 27%;
  --radius: 1rem;
  --fade-out: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.dark {
  --background: 179 50% 10%;
  --foreground: 179 5% 90%;
  --card: 179 50% 10%;
  --card-foreground: 179 5% 90%;
  --popover: 179 50% 5%;
  --popover-foreground: 179 5% 90%;
  --primary: 179 45% 27%;
  --primary-foreground: 0 0% 100%;
  --secondary: 179 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 141 30% 25%;
  --muted-foreground: 179 5% 60%;
  --accent: 141 30% 25%;
  --accent-foreground: 179 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 179 5% 90%;
  --border: 179 30% 26%;
  --input: 179 30% 26%;
  --ring: 179 45% 27%;
  --radius: 1rem;
  --fade-out: linear-gradient(to bottom, rgba(3, 7, 18, 0), rgba(3, 7, 18, 1));
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(128 143 147/var(--tw-bg-opacity));
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color-grayscale-050);
  border-radius: 4px;
}

.text-stripe {
  color: #635bff;
}

.hero-pattern {
  /* background-color: #ffffff; */
  background-size: cover;
  background-position: 10px 10px;
  background-repeat: repeat;
  background-image: url("/svgs/hero-pattern.svg");
}

.hero-pattern::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--fade-out);
  z-index: 1;
}

.hero-pattern .content {
  z-index: 2;
}

body {
  padding: 0 !important;
  overflow: auto !important;
}

nextjs-portal {
  display: none;
}